:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color: #213547; /* yazılar tünd */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
  width: 50px; /* incəliyi */
}

html::-webkit-scrollbar-track {
  background: #111; /* fon qara */
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #e50914, #ff4b5c); /* qırmızı gradient */
  border: 2px solid #111; /* içində boşluq effekti */
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff4b5c, #ff7a85); /* hover daha açıq */
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #e50914 #111;
}
