html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.contact-page {
    margin: 0;
    padding: 0;
}

.contact-banner {
    position: relative;
    height: 400px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: url('../assets/images/hello.jpg') center center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 0;
}


.contact-banner .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.6);
}

.container {
    position: relative;
    z-index: 2;
    text-align: center;
}

.banner-content {
    text-align: center;
}

.banner-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.breadcrumb {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.breadcrumb-navv {
    margin-left: -1pc;
}

.breadcrumb-itemm {
    margin-right: 6pc;
    color: #fff;
}

.breadcrumb-itemm a {
    margin-left: -3pc;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.breadcrumb-item a:hover {
    color: #ff0040;
}

.breadcrumb-itemm.active {
    margin-left: -3pc;
    color: #ff0040;
}

.contact-content {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.contact-banner {
    position: relative;
    z-index: 0;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.6);
    z-index: 0;
}

.contact-banner {
    margin-top: -70px;
}

.container {
    position: relative;
    z-index: 2;
    text-align: left;
    padding-left: 50px;
}

.banner-content {
    text-align: left;
    margin-top: 3pc;

}

.banner-title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 200;
}

.breadcrumb {
    justify-content: flex-start;
}