.language-container,
.language-form-page {
  padding: 24px;
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
}

h2.page-title,
h2.form-title {
  font-size: 36px;
  margin-bottom: 24px;
  font-weight: 600;
}

.language-table {
  width: 100%;
  border-collapse: collapse;
  background: linear-gradient(160deg, rgba(40, 12, 12, 0.9), rgba(55, 14, 14, 0.9));
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06), 0 20px 50px rgb(2, 0, 0);
  text-align: center;
  margin-top: 20px;
}

.language-table th,
.language-table td {
  padding: 12px 16px;
  color: #fff;
}

.language-table th {
  background: linear-gradient(135deg, #350404, #4d010b);
  font-weight: 600;
}

.language-table tbody tr:hover {
  background: rgba(83, 8, 8, 0.18);
}

.actions button {
  margin: 0 5px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.create-btn,
.cancel-btn,
.buton,
.buton2 {
  padding: 10px 20px;
  border-radius: 26px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

/* .create-btn {
  background: linear-gradient(135deg, #350404, #6b0f0f);
  color: #fff;
} */

/* .cancel-btn {
  background: linear-gradient(135deg, #6b0f0f, #350404);
  color: #fff;
  margin-left: 10px;
}

.buton {
  color: #fff;
}

.buton2 {
  background: linear-gradient(135deg, #6b0f0f, #350404);
  color: #fff;
} */
/* 
.create-btn:hover,
.cancel-btn:hover,
.buton:hover,
.buton2:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(83, 8, 8, 0.5);
} */

.language-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

.language-form input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.loading-box {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  
}