
.contact-section {
    padding: 80px 20px;
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
  }
  
.contact-left{
    margin-right :3pc;
}
  .contact-left h2 {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .contact-left p {
    margin-bottom: 40px;
    color: #c5c5c5;
    line-height: 1.6;
  }
  
 
  .info-card {
    padding: 26px 37px;
    border-radius: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 2px solid #4f0114;
    transition: all 0.3s ease;
    
  }
  
 
  
  .info-icon {
    font-size: 32px;
    color: #800020;
    min-width: 40px;
    text-align: center;
    margin-top: 3pc;
  }
  
  .info-text h3 {
    font-size: 1.2rem;
    margin-bottom: 6px;
    font-weight: 600;
    color: #fff;
    margin-top: 2pc;
  }
  
  .info-text p {
    color: #bbb;
    font-size: 0.95rem;
  }
  

  .contact-right {
    padding: 35px;
    border-radius: 16px;
    border: 1px solid #4f0114;
    margin-top: 4pc;
  }
  
  .contact-right h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: #fff;
  }
  
  .contact-right p {
    margin-bottom: 30px;
    color: #c5c5c5;
    font-size: 0.95rem;
    line-height: 1.5;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .form-row {
    display: flex;
    gap: 15px;
  }
  
  .form-row input {
    flex: 1;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 14px;
    border: none;
    border-bottom: 1px solid #4f0114;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
  }
  
  input:focus,
  textarea:focus {
    border-bottom: 1px solid #4f0114;
  }
  
  textarea {
    resize: none;
    min-height: 120px;
  }
  

  .btn-submit {
    background: linear-gradient(135deg, #4f0114, #4f0114);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    width: fit-content;
  }
  
  .btn-submit:hover {
    opacity: 0.9;
    transform: translateY(-2px);
  }
  

  @media (max-width: 900px) {
    .contact-grid {
      grid-template-columns: 1fr;
    }
  }
  