
  
  
  
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out, background 0.2s, box-shadow 0.2s, width 0.2s, height 0.2s;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .custom-cursor.hovering {
    width: 100px;
    height: 100px;
    background: rgba(190, 37, 37, 0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  