.mood-events {
  color: #fff;
  text-align: center;
  margin-top: 3pc;

}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #800020, #800020);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subtitle {
  font-size: 1.1rem;
  color: #bbb;
  margin-top: 1pc;
}

.moods-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2pc;
  margin-bottom: 5pc;

}

.mood-card {
  background: linear-gradient(135deg, #1e1e1e, #111);
  border-radius: 18px;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
}

.mood-card:hover {
  background: linear-gradient(135deg,  #800020, #000000);
  color: #fff;
}

.mood-card .icon {
  background: rgba(255,255,255,0.08);
  padding: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
